@charset "utf-8";

/* 	Control Panel Version 2.0 Designed by www.BeyondDesigning.com

	� 2008 JP Schoeffel @ All Rights Reserved.

  	Please Do not leech this code without written permission from JP Schoeffel */



/* Table of Contents:



	Global

	Typography

	Images

	Header

	Navigation

	Main Content

	Footer

	

*/



/* Global, Typography, Images

--------------------------------------------------------------------------------------- */
.error
{
color:#FF0033;
font-size:12px;
font-weight:bold;
}
 

body,html 

{

	margin:0;

	padding:0;

	background:#ffffff url() top left repeat-x;

	color:#000;

	font-family: Verdana, Arial, Helvetica, sans-serif;

	font-size:12px;

}



.a1:link, .a1:visited 

{

	color:#999;

	text-decoration:none;

}



.a1:hover 

{

	color:#00b4ff;

	text-decoration:none;

}



img

{

	border:0;

}


/* Header
--------------------------------------------------------------------------------------- */
#header-bg{background:url(/skin/i/frontends/design/bg.jpg) no-repeat;}
#header{background:url(/skin/i/frontends/design/bg-top.png) repeat;padding:25px 0 20px;clear:both;position:relative;z-index:10;}

.col-left { float: left; }
.col-right { float: right; }
.col-full  { margin:0 0 0 78px; }
#logo  { float:left; }
#logo img  { }
#logo .site-title, #logo .site-description  { display: none; }
#logo .site-title a { color:#fff; font-size:32px; line-height:28px; text-transform:uppercase; letter-spacing:1px; font-weight:bold; }
#logo .site-title a:hover { text-decoration:none; color:#eee; }
#logo .site-description { color:#bbb; text-transform:uppercase; font-size:12px;}
#info-block{ width:545px; color:#fff; float:right;}

/* Navigation
--------------------------------------------------------------------------------------- */
#navigation  {
	margin: 0 0 73px 0;
	text-align: center;
	padding: 0px;
	width: 100%;
	height: 37px;
	font-size: 11px;
	letter-spacing: -1px;
}

#navigation ul {
	margin: 0 auto;
	list-style: none;
	line-height: normal;
	padding: 0px;
}

#navigation li {
	float: left;
	margin-top: 0px;
	border-right: 1px #777777 solid;
}

#navigation a:link, #navigation a:visited {
	padding: 12px 25px 0px 25px;
	color: #ffffff;
	display: block;
	height: 25px;
	text-decoration: none;
	background: #4e4f51;
}

#navigation a:hover, #navigation .active a {
	color: #fff;
	text-decoration: none;
	background: #0682c2;
}

#navigation .active a:hover {
	color: #f1f1f1;
	text-decoration: none;
	background: #93ae33;
}
/* Main Content

--------------------------------------------------------------------------------------- */



#wrap

{

	width:940px;

	height:auto;

	margin:0 auto;

}



#wrap_left

{

	width:455px;

	height:auto;

	float:left;

	padding:5px;

}



#wrap_right

{

	width:455px;

	height:auto;

	float:right;

	padding:5px;

}



.left

{

	width:455px;

	height:auto;

	float:left;

	margin:0 auto;

	margin-bottom:10px;

}



.right

{

	width:455px;

	height:auto;

	float:right;

	margin:0 auto;

	margin-bottom:10px;

}



.left h2, .right h2

{

	height:15px;

	padding:3px 0 2px 0;

	text-align:center;

	background: url(../images/title_back.jpg) top left repeat-x;

	margin:0 auto;

	font: 12px Verdana, Arial, Helvetica, sans-serif;

	color:#FFFFFF;

	font-weight: bold;

}



.left:hover h2, .right:hover h2

{

	background: url(../images/title_hover.jpg) top left repeat-x;

	color:#FFFFFF;

}



.inside

{

	width:452px;

	height:auto;

	float:left;

	margin:0px auto 10px 0;

	padding: 0 0 10px 0;

	border: 1px #f1f6f8 solid;

	border-top:0;

	text-align:center;

}



.inside ul

{

	padding:0px;

	margin:0 auto;

	list-style:none;

}



.inside li

{

	float:left;

	list-style:none;

	margin:0 auto 0 auto;

	width:90px;

	padding: 10px 0 0 0;

	display:block;

	height :90px;



}



.inside li:hover

{

	padding:8px 0 0 0;

}



.inside img

{

	margin:0 auto 5px auto;

	border:0;

}



.inside span

{

	padding:0px;

	margin:0 auto;

	clear:both;

}



.left:hover .inside, .right:hover .inside

{

	border: 1px #dedede solid;

	border-top:0;

}


/* Footer
--------------------------------------------------------------------------------------- */
#footer{background: #232323 url(/skin/i/frontends/design/bg-footer-top.png) repeat-x top center; font-size:12px;padding: 20px 0;border-top: 1px solid #eee; margin:50px 0 0 0;}
#footer #credit, #footer #copyright { color: #777; }
#footer #credit a, #footer #copyright a { color: #999; }

#footer #footer-credits { background:url(/skin/i/frontends/design/bg-footer-bevel.png) repeat-x top center; padding:25px 0 20px; margin: 20px 0; }
#footer #credit img{vertical-align:middle;}
#footer #credit span{display:none;}

#footer #footer-widgets { margin-top:20px; color:#bbbbbb; font-size:14px; }
#footer #footer-widgets p { color:#bbbbbb; }
#footer #footer-widgets .block { float:left; width:210px; margin:0 40px 0 0; }
#footer #footer-widgets .block.last { margin-right:0; }
#footer #footer-widgets h3 { font-size:18px; color:#fff; font-weight:normal;}
#footer #footer-widgets ul { border:none; }
#footer #footer-widgets li { padding-left:15px; }
#footer #footer-widgets li a { border:none; color:#fefefe; line-height:18px; padding:3px 0; }
#footer #footer-widgets li a:hover { color:#06a0f0; }
#footer .col-full { width:960px; margin:0 auto; }
#footer #mcafeesecure { margin:0 0 0 100px; }


/* END

--------------------------------------------------------------------------------------- */