tr,td,th,body
{
	font-size: 8pt;
	font-family: Verdana;
	text-decoration: none;
	color: #000000;
	
}
a,a:active,a:visited,a:hover {
	font-size: 8pt;
	font-weight: bold;
	text-decoration: none;
	color: #000000;
}
a:hover {
	font-size: 8pt;
	font-weight: bold;
	text-decoration: none;
	color: #CCCCCC;
}


th,tr,td {
	vertical-align: top;
}
input,textarea {
	border: 1px solid #cccccc;
	background: #ffffff;
	font-family: Verdana;
	font-size: 8pt;
	font-weight: bold;
	font-weight: normal;
}
table {
	border: 1pt dashed;
	border-collapse: collapse;
}
