.datagridred {
	COLOR: #ff0000
}
.menugroup {
	BORDER-RIGHT: #808080 1px solid; BORDER-TOP: #b0b0b0 1px solid; FONT-SIZE: 12px; FILTER: progid:DXImageTransform.Microsoft.Shadow(color='dimgray', Direction=135, Strength=3); BORDER-LEFT: #808080 1px solid; BORDER-BOTTOM: #808080 1px solid; BACKGROUND-COLOR: #ebeadb; FONT-FAMILY: Arial, Verdana; font-weight:bold; text-decoration:none
}

.titletext {
	FONT-WEIGHT: bold; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.topmenugroup {
	BORDER-RIGHT: #808080 0px solid; PADDING-RIGHT: 2px; BORDER-TOP: #808080 0px solid; PADDING-LEFT: 2px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; BORDER-LEFT: #808080 0px solid; CURSOR: default; COLOR: #000000; PADDING-TOP: 0px; BORDER-BOTTOM: #808080 0px solid; FONT-FAMILY: Tahoma, Arial, Verdana; HEIGHT: 33px; BACKGROUND-COLOR: #ebeadb
}
.menuborder {
	font-weight: bold;
	text-transform: capitalize;
	text-decoration: none;
	text-align: center;
	vertical-align: middle;
	margin: 3px;
	padding: 3px;
	border: thin dotted #0099CC;
	background-color:#DDE6B7;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
}

.maintable {
	margin: 3px;
	padding: 3px;
	border: thin dotted #FF0000;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;    
}